In [4]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
df=pd.read_csv('/content/stroke_data.csv')

In [6]:
df.head()

   gender   age  hypertension  ...   bmi   smoking_status stroke
0    Male  58.0             1  ...  39.2     never smoked      0
1  Female  70.0             0  ...  35.9  formerly smoked      0
2  Female  52.0             0  ...  17.7  formerly smoked      0
3  Female  75.0             0  ...  27.0     never smoked      0
4  Female  32.0             0  ...  32.3           smokes      0

[5 rows x 11 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_encoder=LabelEncoder()

In [12]:
df['gender_label'] = label_encoder.fit_transform(df['gender'])
df['smoking_label'] = label_encoder.fit_transform(df['smoking_status'])
df['marriage_label'] = label_encoder.fit_transform(df['ever_married'])
df['residence_label'] = label_encoder.fit_transform(df['Residence_type'])
df['work_label'] = label_encoder.fit_transform(df['work_type'])

In [13]:
df.drop('ever_married', axis=1, inplace=True)
df.drop('work_type', axis=1, inplace=True)
df.drop('Residence_type', axis=1, inplace=True)
df.drop('gender', axis=1, inplace=True)
df.drop('smoking_status', axis=1, inplace=True)

In [14]:
df.head()

    age  hypertension  ...  residence_label  work_label
0  58.0             1  ...                1           2
1  70.0             0  ...                0           2
2  52.0             0  ...                1           2
3  75.0             0  ...                0           3
4  32.0             0  ...                0           2

[5 rows x 11 columns]

In [15]:
x=df.drop('stroke', axis=1)
y=df['stroke']

In [17]:
from sklearn.model_selection import train_test_split

In [21]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.3,random_state=2021)

In [22]:
from sklearn.naive_bayes import GaussianNB

In [23]:
bayes_model = GaussianNB()
bayes_model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
pred=bayes_model.predict(x_test)

In [25]:
from sklearn.metrics import classification_report, confusion_matrix

In [26]:
print(confusion_matrix(y_test, pred))

[[18680  1290]
 [  273   102]]

In [27]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.99      0.94      0.96     19970
           1       0.07      0.27      0.12       375

    accuracy                           0.92     20345
   macro avg       0.53      0.60      0.54     20345
weighted avg       0.97      0.92      0.94     20345