In [1]:

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('stroke_data.csv')

In [3]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
1,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
2,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
3,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
4,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label_encoder=LabelEncoder()

In [6]:
df['gender_label'] = label_encoder.fit_transform(df['gender'])
df['smoking_label'] = label_encoder.fit_transform(df['smoking_status'])
df['marriage_label'] = label_encoder.fit_transform(df['ever_married'])
df['residence_label'] = label_encoder.fit_transform(df['Residence_type'])
df['work_label'] = label_encoder.fit_transform(df['work_type'])

In [7]:
df.drop('ever_married', axis=1, inplace=True)
df.drop('work_type', axis=1, inplace=True)
df.drop('Residence_type', axis=1, inplace=True)
df.drop('gender', axis=1, inplace=True)
df.drop('smoking_status', axis=1, inplace=True)

In [8]:
df.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_label,smoking_label,marriage_label,residence_label,work_label
0,58.0,1,0,87.96,39.2,0,1,1,1,1,2
1,70.0,0,0,69.04,35.9,0,0,0,1,0,2
2,52.0,0,0,77.59,17.7,0,0,0,1,1,2
3,75.0,0,1,243.53,27.0,0,0,1,1,0,3
4,32.0,0,0,77.67,32.3,0,0,2,1,0,2

In [9]:
x=df.drop('stroke', axis=1)
y=df['stroke']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_test,x_train,y_test,y_train=train_test_split(x,y,test_size=0.3,random_state=2021)

In [19]:
#data normalization

In [20]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [22]:
standard = StandardScaler()
standard.fit(x_train)

StandardScaler()

In [23]:
x_train_scaled = standard.transform(x_train)

In [24]:
x_test_scaled = standard.transform(x_test)

In [12]:
from sklearn.linear_model import SGDClassifier

In [13]:
sgd_model=SGDClassifier()

In [25]:
sgd_model.fit(x_train_scaled,y_train)

SGDClassifier()

In [26]:
pred=sgd_model.predict(x_test_scaled)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix

In [37]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
print(confusion_matrix(y_test, pred))

[[19970     0]
 [  375     0]]

In [39]:
from sklearn.metrics import precision_score

In [40]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     19970
           1       0.00      0.00      0.00       375

    accuracy                           0.98     20345
   macro avg       0.49      0.50      0.50     20345
weighted avg       0.96      0.98      0.97     20345